/* Removes basic styling*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: #1ba1ad;
  font-family: "Kumbh Sans", sans-serif;
}

h1 {
  font-size: 2.5rem;
}

li,
button,
label,
input,
p,
a {
  font-size: 2rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.4rem;
  font-weight: 200;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

button {
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

.landing-page {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 45rem;
  width: 40rem;
  background-color: white;
  text-align: center;
  border-radius: 2rem;
  overflow: hidden;
  margin: 2rem;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.card:hover {
  -webkit-box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.671);
          box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.671);
  -webkit-transform: scale(101%);
          transform: scale(101%);
}

#bg {
  width: 100%;
}

.info {
  position: absolute;
  left: 50%;
  top: 25%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#age {
  font-weight: 400;
}

#profile-picture {
  border-radius: 50%;
  border: 10px solid white;
  margin-bottom: 2rem;
}

.name-age {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#age {
  padding: 1rem;
}

#name {
  font-weight: 600;
}

.stats {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 10rem;
  background: white;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #cecece;
  bottom: 0;
}

.stats div {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bubble {
  position: absolute;
  z-index: -1;
}

.bubble-top {
  bottom: 50%;
  left: 0%;
}

.bubble-bottom {
  top: 50%;
  right: 0%;
}

@media screen and (max-width: 1600px) {
  .bubble-top {
    left: -15%;
  }
  .bubble-bottom {
    right: -15%;
  }
}

@media screen and (max-width: 1200px) {
  .bubble-top {
    left: -30%;
  }
  .bubble-bottom {
    right: -30%;
  }
}

@media screen and (max-width: 700px) {
  .bubble-top {
    left: -45%;
  }
  .bubble-bottom {
    right: -45%;
  }
  #name,
  #age {
    font-size: 16px;
  }
  #city {
    font-size: 12px;
  }
  #bg {
    height: 40%;
  }
}
/*# sourceMappingURL=style.css.map */